body, html {
	background: rgb(235, 235, 235);
	color: rgb(60, 60, 60);
	margin: 0 auto;
}
* {
	font-family: system-ui;
	user-select: none;
}

#elements-pane {
	max-width: 360px;
}
header {
	display: flex;
	align-items: center;
	padding: 0.1rem 1rem;
}
header :first-child {
	flex: 1;
}
header h1 {
	font-size: 1.3rem;
}
header img {
	width: 1.8rem;
	height: 1.8rem;
	margin-left: 0.8em;
	vertical-align: middle;
}
#elements-list, #all-elements, #individual-elements, .info {
	background: rgb(250, 250, 250);
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#individual-elements summary {
	margin-bottom: 0.6rem;
}
#elements-list li, #all-elements, #individual-elements {
	margin: 0;
	padding: 1rem 1rem 0.6rem;
	border-bottom: 1px solid rgb(235, 235, 235);
}
#individual-elements li {
	padding-left: 0;
	padding-right: 0;
}
#elements-list li:last-child {
	border-bottom-width: 0;
}
.element-label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 280px;
}
.element-not-playing {
	opacity: 0.5;
}
.checkboxes {
	display: flex;
	align-items: center;
}
.checkboxes label {
	margin-right: 0.8rem;
}
label {
	display: flex;
	padding: 0.2rem 0;
}
li > label:first-of-type {
	margin-top: 0.2rem;
}
label span {
	min-width: 10%;
	padding: 0 0.3rem 0.1rem;
	line-height: 2rem;
}
label span:first-child {
	min-width: 3.6rem;
	text-align: right;
}
label input:not([type=checkbox]) {
	flex: 1;
}
label input[type=number] {
	flex-grow: 0;
	width: 7em;
	background: transparent;
	color: inherit;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: .2em .5em;
	margin-left: .5em;
}

.info {
	font-size: 0.8em;
	color: #666;
	padding: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
	body, html {
		background: rgb(60, 60, 60);
		color: rgb(240, 240, 240);
	}
	header img {
		filter: invert();
	}
	#elements-list, #all-elements, #individual-elements, .info {
		background: rgb(40, 40, 40);
	}
	#elements-list li, #all-elements, #individual-elements {
		border-color: rgb(70, 70, 70);
	}
	.info {
		color: #aaa;
	}
}
